.Header {
    background-color: white;
    margin: -3vh -2vh 0 -2vh;
    padding: 2vh;
    height: 125px;
    width: auto;
    text-align: left;
}

.Header img {
    margin: 10px auto 0 10px;
    height: 90%;
    width: auto;
}