.auth-banner {
    background-color: #133157;
    padding: 12px;
    text-align: right;
}

.signup-container {
    background-color: whitesmoke;
    width: 300px;
    padding: 12px;
    margin: 10px 10px 0 auto;
}

.signup-container form{
    display: grid;
    grid-template-columns: 1fr;
    gap: 7px;
}

.signup-container label {
    font-size: 12px;
    grid-column: 1;
    margin-bottom: 5px;
  }

.signup-container input {
    grid-column: 2;
    padding: 7px
}